<div class="item clearfix row">
  <div class="labels col-md-3 padding-right-zero pull-left">
  </div>
  <div class="main pull-right col-md-8 padding-left-zero">
    <p class="info-note margin-zero caption margin-left-fifteen" style="font-size: 13px; word-spacing: 2px;">
      Copy and paste a URL from YouTube to insert a <strong>Channel Feed</strong>, <strong>Playlist</strong>, or <strong>Single Video</strong>
    </p>
  </div>
</div>
<hr class="none">
<div class="item clearfix row margin-bottom-fifteen">
  <div class="labels col-md-4 padding-right-zero pull-left">
    <span>YouTube URL</span>
  </div>
  <div class="main pull-right col-md-8 padding-left-zero row">
    <div class="pull-left col-md-9 padding-zero">
      <input type="text" class="form-control"
             placeholder="Enter your channel or video URL"
             ng-model="ContentHome.rssLink"
             ng-class="{'border-danger': ContentHome.validLinkFailure}" />
             <div class="text-left text-danger margin-top-five text-small" ng-show="ContentHome.validLinkFailure">
                 Please paste a valid URL from YouTube
             </div>
    </div>
    <div class="col-md-3 pull-right">
      <button class="btn btn-success pull-right stretch"
              ng-disabled="refreshButtonsLoading"
              ng-click="ContentHome.validateRssLink()">
        Save
      </button>
    </div>
  </div>
</div>
<div class="item clearfix row margin-bottom-fifteen">
  <div class="main pull-right col-md-8">

    <p class="info-note-no-bg margin-bottom-ten caption">
      Please use the full video URL and not the shortened URL
    </p>
    
    <p class="info-note-no-bg margin-bottom-ten caption margin-bottom-thirty">
      It is best to use secure websites (<strong>https</strong>) some operating systems require it.
    </p>
    
    <div class="url-types">
      <p class="tooltip-container" style="line-height: 1.33;">
        <span class="btn-info-icon btn-primary margin-left-zero">
          <span class="cp-tooltip">
            Navigate to a channel on YouTube and copy then paste the URL above
          </span>
        </span>
        Channel Feed URL <span class="icon-check" ng-if="ContentHome.contentType === ContentHome.CONTENT_TYPE.CHANNEL_FEED"></span>
      </p>

      <p class="tooltip-container" style="line-height: 1.33;">
        <span class="btn-info-icon btn-primary margin-left-zero">
          <span class="cp-tooltip">
            Navigate to a channel on YouTube; go to the “Playlist” tab; Then open the playlist; Copy then paste the URL above
          </span>
        </span>
        Playlist URL <span class="icon-check" ng-if="ContentHome.contentType === ContentHome.CONTENT_TYPE.PLAYLIST_FEED"></span>
    </p>

    <p class="tooltip-container" style="line-height: 1.33;">
      <span class="btn-info-icon btn-primary margin-left-zero">
      	<span class="cp-tooltip left-tooltip">
          Navigate to a video on YouTube and copy then paste the URL above
      	</span>
    	</span>

      Single Video URL <span class="icon-check" ng-if="ContentHome.contentType === ContentHome.CONTENT_TYPE.SINGLE_VIDEO"></span>
    </p>

    </div>

  </div>
</div>
<div class="item clearfix row margin-bottom-fifteen" ng-show="(ContentHome.contentType === ContentHome.CONTENT_TYPE.SINGLE_VIDEO)">
  <div class="labels col-md-4 padding-right-zero pull-left">
    <span class="tooltip-container">
      Update Global Search
      <span class="btn-info-icon btn-primary">
      	<span class="cp-tooltip">
          Refresh video details in the global search result if you've updated it on your YouTube channel.
      	</span>
    	</span>
    </span>
  </div>
  <div class="main pull-right col-md-8 padding-left-zero row">
    <div class="col-md-3 pull-right">
      <button class="stretch btn btn-primary btn-outlined pull-right"
              ng-disabled="refreshButtonsLoading"
              ng-click="ContentHome.updateSingleVideo()"> Refresh Now
      </button>
    </div>
  </div>
</div>
<div class="item clearfix row margin-bottom-fifteen" ng-show="(ContentHome.contentType == ContentHome.CONTENT_TYPE.CHANNEL_FEED) || (ContentHome.contentType == ContentHome.CONTENT_TYPE.PLAYLIST_FEED)">
  <div class="labels col-md-4 padding-right-zero pull-left">
    <span class="tooltip-container">
      Update Video Thumbnails
      <span class="btn-info-icon btn-primary">
      	<span class="cp-tooltip">
          Refresh video thumbnails in the list if you've updated them on any of your YouTube videos.
      	</span>
    	</span>
    </span>
  </div>
  <div class="main pull-right col-md-8 padding-left-zero row">
    <div class="col-md-3 pull-right">
      <button class="stretch btn btn-primary btn-outlined pull-right"
              ng-disabled="refreshButtonsLoading"
              ng-click="ContentHome.updateCachedVideos()"> Refresh Now
      </button>
    </div>
  </div>
</div>
<div class="margin-bottom-fifteen" id="carousel" ng-show="ContentHome.contentType == ContentHome.CONTENT_TYPE.CHANNEL_FEED || (ContentHome.contentType == ContentHome.CONTENT_TYPE.PLAYLIST_FEED)"></div>
<div class="item clearfix row " ng-show="(ContentHome.contentType == ContentHome.CONTENT_TYPE.CHANNEL_FEED) || (ContentHome.contentType == ContentHome.CONTENT_TYPE.PLAYLIST_FEED)">
  <div class="labels col-md-4 padding-right-zero pull-left">
    <span>Summary Text</span>
  </div>
</div>
<hr class="none">
<div class="item clearfix row" ng-show="(ContentHome.contentType == ContentHome.CONTENT_TYPE.CHANNEL_FEED) || (ContentHome.contentType == ContentHome.CONTENT_TYPE.PLAYLIST_FEED)">
  <div class="main col-md-12 pull-left">
        <textarea id="text" rows="5" width="100%" class="form-control"
                  ui-tinymce="ContentHome.descriptionWYSIWYGOptions"
                  ng-model="ContentHome.data.content.description"
                  placeholder="WYSIWYG"></textarea>
  </div>
</div>

<div class="hidden" id="dialogBackdrop"></div>
<div id="cpLoaderDialog" class="subPage loaderDialog">
  <div class="subPageContent">
    <div class="spHeader padded">
      <h4 class="spHeaderText">Fetching Data</h4>
    </div>
    <div class="modal-body padded">
      <div class="loader" id="loader"></div>
      <p id="modalMessage" class="margin-top-fifteen text-center">Fetching data, please wait...</p>
    </div>
    <div class="spFooter padded">
      <button href="#" class="btn spDeleteButton">Cancel</button>
      <button id="saveButton" class="btn btn-success spSaveButton" disabled>Save</button>
    </div>
  </div>
</div>