.subPage.activeDialog {
    background: #ffffffaa;
    bottom: 0;
    display: block;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.subPage>.subPageContent {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
}

.subPage.activeFull>.subPageContent {
    display: block;
    height: 100%;
    width: 100%;
}

.subPage.activeDialog>.subPageContent {
    display: block;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    max-height: 90vh;
    box-shadow: grey 5px 5px 15px;
    z-index: 1000;
}

.subPage.activeDialog.loaderDialog>.subPageContent {
    width: 50%;
}

.subPage>.subPageContent>.spHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eef0f0;
    position: relative;
    font-size: 15px;
}

.spHeader h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.spHeader span.close-modal {
    color: #5f5f5f;
    font-size: 20px;
}

.subPage>.subPageContent>.spFooter {
    text-align: right;
    border-top: 1px solid #ddd !important;
}

.spFooter button {
    margin-left: 8px;
}

.required:after {
    content: " *";
    color: red;
}

#rssErrorMessage, #googleErrorMessage {
    color: red;
}