/* tooltip */
.tooltip-container {
    display: flex;
    align-items: center;
    margin-right: 13px !important;
    gap: 0.25rem;
  }
  .tooltip-container .btn-info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    position: relative;
  }
  .tooltip-container .btn-info-icon:after {
    content: 'i';
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    left: 0;
    top: auto !important;
    height: 100%;
  }
  .tooltip-container .btn-info-icon .cp-tooltip {
    pointer-events: none;
    background-color: rgba(0, 0, 0, .80);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    left: calc(100% + 12px);
    cursor: auto;
    font-size: 12px;
    text-align: left;
    width: 200px;
    opacity: 0;
    transform: scale(.1);
    transition: opacity ease .1s, transform ease .1s;
    transform-origin: left;
    z-index: 100;
    font-weight: 400;
    line-height: 18px;
    font-family: 'Conv_apercu_regular','Helvetica','Sans-Serif','Arial';
    -webkit-text-stroke: 0;
  }

  .tooltip-container .btn-info-icon .cp-tooltip.left-tooltip {
    left: auto;
    right: calc(100% + 12px);
    transform-origin: right;
  }

  .tooltip-container .btn-info-icon .cp-tooltip::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    transform: rotate(90deg) translate(-50%);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .80) transparent transparent transparent;
  }
  .tooltip-container .btn-info-icon .cp-tooltip.left-tooltip::before {
    left: auto;
    right: -5px;
    transform: rotate(0deg) translate(0);
    margin-right: -5px;
    top: 45%;
    border-color: transparent transparent transparent rgba(0, 0, 0, .80);
  }
  .top-cp-tooltip::before {
    top: 10px !important;
  }
 
  .tooltip-container .btn-info-icon:hover .cp-tooltip {
    opacity: 1;
    transform: scale(1);
  }

  .url-types {
    display: flex;
    flex-wrap: wrap;
  }

.url-types p {
    margin-right: 50px;
}

#carousel .item.clearfix .col-md-3 {
  width: calc(100% / 3);
}

#carousel .item.clearfix .col-md-9 {
  width: calc(100% / 3*2);
  padding-left: 0;
}

#carousel .item.clearfix .col-md-9 .clearfix {
  padding-left: 30px;
  width: 25%;
  float: right;
}

#carousel .item.clearfix .col-md-9 .btn {
  float: right !important;
  color: #05acf0 !important;
  background-color: transparent !important;
  border: 1px solid var(--c-primary);
  padding: 6px 12px 6px 20px !important;
  width: 100%;
}

#carousel .item.clearfix .col-md-9 .btn:hover {
  background-color: #f2f2f2 !important;
}

#carousel .item.clearfix .col-md-9 .btn::before,
#carousel .item.clearfix .col-md-9 .btn::after {
  background-color: #0877a4 !important;
  left: unset;
  right: 70%;
}

.url-types p .icon-check{
    margin-left: 10px;
    color: #14cb5d;   
}