

/*
* Styling for list layout elements
*/
.list-layout{
    overflow: hidden;
}
.list-layout .list-item.video-box{
    padding-left: 2%;
    padding-right: 2%;

}


.list-layout .list-item-copy {

}

/*
* Set height of body to auto for enabling scroll
*/

.body-scroll{
    height: auto !important;
}

/*
* Carousel container styling
*/

#carousel{
    overflow: hidden !important;
}
