

/*
* Styling for list layout elements
*/
.list-layout{
    overflow: hidden;
}
.list-layout .list-item.video-box{
    padding-left: 1%;
    padding-right: 15px;
}


.list-layout .list-item-copy {
    min-height: 75px !important;
}

/*
* Set height of body to auto for enabling scroll
*/

.body-scroll{
    height: auto !important;
}

/*
* Carousel container styling
*/

#carousel{
    overflow: hidden !important;
}
