/*
* Styling for list layout elements
*/
.list-layout {
    overflow: hidden;
}

.list-layout .list-item.video-box {
    padding-left: 2%;
    padding-right: 2%;

}

.layout1 .list-layout .list-item-copy,
.layout4 .list-layout .list-item-copy {
    min-height: 80px;
}

/*
* Set height of body to auto for enabling scroll
*/

.body-scroll {
    height: auto !important;
}

/*
* Carousel container styling
*/

#carousel {
    overflow: hidden !important;
}

.description-width{
    max-width: 310px;
    text-align: justify;
}