<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center">
                    <!-- <span class="add-icon hidden">+</span>
                     <img src="http://www.placehold.it/31x33">-->
                    <img ng-src="assets/images/{{DesignHome.data.design.itemListLayout}}.png">
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a ng-repeat="listLayout in DesignHome.layouts.listLayouts" data-number="{{$index + 1}}"
                   class="layouticon border-grey border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.changeListLayout(this.listLayout.name)">
                    <!--<span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/53x63">-->
                    <img ng-src="assets/images/{{listLayout.name}}.png">
                </a>
            </div>

        </div>
    </div>
</div>
<hr>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item List Background Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div ng-hide="DesignHome.data.design.itemListBgImage" class="screen text-center layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.addItemListBackgroundImage()">
                    <span class="add-icon">+</span>
                </a>
            </div>
            <div ng-show="DesignHome.data.design.itemListBgImage" class="screen text-center layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center"
                   ng-click="DesignHome.addItemListBackgroundImage()">
                    <img ng-src="{{DesignHome.data.design.itemListBgImage|getImageUrl:88:124:'resize'}}">
                </a>
                <span class="icon btn-icon btn-delete-icon btn-danger btn-close transition-third"
                      ng-click="DesignHome.removeItemListBackgroundImage()"></span>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Details Background Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div ng-hide="DesignHome.data.design.itemDetailsBgImage" class="screen text-center layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover"
                   ng-click="DesignHome.addItemDetailsBackgroundImage()">
                    <span class="add-icon">+</span>
                </a>
            </div>
            <div ng-show="DesignHome.data.design.itemDetailsBgImage" class="screen text-center layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover"
                   ng-click="DesignHome.addItemDetailsBackgroundImage()">
                    <img ng-src="{{DesignHome.data.design.itemDetailsBgImage|getImageUrl:88:124:'resize'}}">
                </a>
                 <span class="icon btn-icon btn-delete-icon btn-danger btn-close transition-third"
                       ng-click="DesignHome.removeItemDetailsBackgroundImage()"></span>
            </div>
        </div>
    </div>
</div>