<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/31x33">
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/53x63">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/33x11">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/133x63">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/53x131">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/53x24">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/33x63">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/13x32">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/33x44">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/25x50">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Details Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/31x33">
                </a>
            </div>
            <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/53x63">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/33x11">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/133x63">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/53x131">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/53x24">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/33x63">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/13x32">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/33x44">
                </a>
                <a class="layouticon border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/25x50">
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item List Background Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen text-center layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover text-center">
                    <span class="add-icon">+</span>
                </a>
                <label class="secondary">750x1334</label>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Details Background Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen text-center layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover">
                    <span class="add-icon hidden">+</span>
                    <img src="http://www.placehold.it/60x100">
                </a>
                <label class="secondary">750x1334</label>
            </div>
        </div>
    </div>
</div>