<!DOCTYPE html>
<html lang="en" ng-app="youtubePluginWidget">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,minimum-scale=1.0,
          maximum-scale=1.0"
    />

    <!-- BuildFire -->
    <link rel="stylesheet" href="../../../styles/siteIcons.css" />
    <link rel="stylesheet" href="../../../styles/helper.css" />
    <link rel="stylesheet" href="../../../styles/components/skeleton.css" />

    <!-- build:bundleCSSFiles -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- endbuild -->

    <!-- BuildFire -->
    <script src="../../../scripts/buildfire.min.js"></script>
    <script src="../../../scripts/buildfire/components/carouselLight/carouselLight.min.js"></script>
    <script src="../../../scripts/buildfire/services/fileSystem/fileManager.js"></script>
    <script src="../../../scripts/buildfire/services/format/format.js"></script>
    <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../scripts/buildfire/components/skeleton/skeleton.js"></script>

    <!-- Angular -->
    <script src="../../../scripts/angular/angular.min.js"></script>
    <script src="../../../scripts/angular/angular-route.min.js"></script>
    <script src="../../../scripts/angular/ng-infinite-scroll.custom.js"></script>

    <!-- build:bundleJSFiles -->
    <script src="./cache.js"></script>
    <script src="./app.js"></script>
    <script src="./enums.js"></script>
    <script src="./app.services.js"></script>
    <script src="./modal.js"></script>
    <script src="./viewedVideos.js"></script>
    <script src="./bookmarkHandler.js"></script>
    <script src="./controllers/widget.feed.controller.js"></script>
    <script src="./controllers/widget.single.controller.js"></script>
    <script src="./ytConfig.js"></script>
    <script src="./callPlayer.js"></script>
    <!-- endbuild -->

    <link rel="stylesheet" href="../../../styles/transitionAnimation.css" />
    <script src="../../../scripts/angular/angular-animate.min.js"></script>
  </head>
  <body class="body-scroll">
    <div class="main_view">
      <div
        class="slide content infinite-scroll-parent"
        data-back-img="{{ backgroundListImage }}"
      >
        <div ng-controller="WidgetFeedCtrl as WidgetFeed">
          <div id="emptyContainer" ng-if="(!WidgetFeed.data.design.itemListLayout || WidgetFeed.videos.length === 0) && !loading"></div>
          <div
            ng-if="WidgetFeed.data.design.itemListLayout && WidgetFeed.data.content.playListID && !loading"
            ng-include="'templates/' + WidgetFeed.data.design.itemListLayout + '.html'"
          ></div>
        </div>
      </div>

      <div
        ng-view
        ngCloak
        class="slide content"
        ng-hide="showFeed"
        data-back-img="{{ backgroundImage }}"
      ></div>
      <div id="deeplinkSkeleton" class="hidden deeplink-item-skeleton"></div>
    </div>
  </body>
</html>
