
  <div ng-if="WidgetSingle.video.id" class="media-center-plugin layout1">
    <div class="media-center-banner clearfix border-bottom-grey">
      <div class="plugin-slider text-center">
        <div class="plugin-slide" data-ng-attr-load-iframe="{{WidgetSingle.video.id | returnYoutubeUrl}}">
          <img src="../../../styles/media/holder-16x9.gif">
        </div>
      </div>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix ">
      <h4 class="margin-top-zero"
          style="font-size: 16px;">{{WidgetSingle.video.snippet
        .title}}</h4>
    </div>
    <div class="padded padding-top-zero">
      <hr class="small">
      <div class="link-list">
        <a class="text-primary" target="_blank"
           href='javascript:void(0);'
           ng-click="WidgetSingle.viewSource(WidgetSingle.data.content.rssUrl)">
          View Source
        </a>
        <!--<a class="text-primary">Share</a>-->
      </div>
        <!--<div><a href="javascript:void callPlayer(&quot;whateverID&quot;,&quot;playVideo&quot;)">Start</a> &bull; <a href="javascript:void callPlayer(&quot;whateverID&quot;,&quot;pauseVideo&quot;)">Pause</a> &bull; <a href="javascript:void callPlayer(&quot;whateverID&quot;,&quot;stopVideo&quot;)">Stop</a></div>-->
      <hr class="small">
      <p class="break-word">
        {{WidgetSingle.video.snippet.description}}
      </p>
    </div>
  </div>
</div>

<script>
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      events: {
        'onStateChange': function(e){
          if(e.data == 1)
          {
            console.log('video played');
            var audioPlayer = window.buildfire.services.media.audioPlayer;
            audioPlayer.pause();
          }
        }
      }
    });
  }
  setTimeout(function(){onYouTubeIframeAPIReady();},1000);

</script>