<div ng-if="WidgetSingle.video.id" class="media-center-plugin layout1-detail">
  <div class="media-center-banner clearfix border-bottom-grey">
    <div class="plugin-slider text-center">
      <div class="plugin-slide" data-ng-attr-load-iframe="{{WidgetSingle.video.id | returnYoutubeUrl}}">
        <img src="../../../styles/media/holder-16x9.gif">
      </div>
    </div>
  </div>
  <div class="text-left padded padding-bottom-zero clearfix ">
    <h4 class="main-title margin-top-zero">{{::WidgetSingle.video.snippet.title}}</h4>
    <!-- <div class="item-actions">
      <a class="bookmark" ng-class="{'unmarked' : !WidgetSingle.video.bookmarked}" ng-click="WidgetSingle.bookmark()"
        role="button">
        <i class="bookmark-icon"></i>
      </a>
    </div> -->
  </div>
  <div class="item-actions">
    <div class="link-list">
      <a class="text-primary" target="_blank" href='javascript:void(0);' ng-click="WidgetSingle.viewSource(WidgetSingle.data.content.rssUrl)">
        <i class="share glyphicon glyphicon-screenshot"></i>
      </a>
      <!--<a class="text-primary">Share</a>-->
    </div>
    <div class="li-actions">
      <i class="share glyphicon glyphicon-edit" ng-click="WidgetSingle.addNote()" role="button"></i>
      <i class="share glyphicon glyphicon-share-alt" ng-click="WidgetSingle.share()" role="button"></i>
      <i class="glyphicon bookmark" ng-class="{ 'glyphicon-star-empty' : !WidgetSingle.video.bookmarked, 'glyphicon-star' : WidgetSingle.video.bookmarked }"
      ng-click="WidgetSingle.bookmark()" role="button"></i>
    </div>
    <!--<div><a href="javascript:void callPlayer(&quot;whateverID&quot;,&quot;playVideo&quot;)">Start</a> &bull; <a href="javascript:void callPlayer(&quot;whateverID&quot;,&quot;pauseVideo&quot;)">Pause</a> &bull; <a href="javascript:void callPlayer(&quot;whateverID&quot;,&quot;stopVideo&quot;)">Stop</a></div>-->
  </div>
  <div class="padded padding-top-zero">
    <p class="break-word">
      {{::WidgetSingle.video.snippet.description}}
    </p>
  </div>
</div>
</div>

<script>
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('ytPlayer', {
      events: {
        'onStateChange': function (e) {
          if (e.data == 1) {
            var audioPlayer = window.buildfire.services.media.audioPlayer;
            audioPlayer.pause();
          }
        }
      }
    });
  }
  setTimeout(function () { onYouTubeIframeAPIReady(); }, 1000);

</script>