<div background-image="{{WidgetFeed.data.design.itemListBgImage}}" class="holder padding-zero">
  <div class="media-center-plugin list-layout layout4">
    <div class="media-center-banner clearfix border-bottom-grey">
      <div id="carousel" build-fire-carousel=""></div>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix">
      <p
          ng-bind-html='WidgetFeed.safeHtml(WidgetFeed.data.content.description)' ng-if="WidgetFeed.showDescription(WidgetFeed.data.content.description)"></p>
    </div>
    <div class="padded padding-top-zero"  ng-if="WidgetFeed.data">
      <div class="list-layout" infinite-scroll="WidgetFeed.loadMore()"
           infinite-scroll-distance="1"
           infinite-scroll-disabled="WidgetFeed.busy">
        <div class="list-item col-xs-6 pull-left" ng-repeat="video in WidgetFeed.videos">
          <div class="list-item-media text-center border-radius-three overflow-hidden">
            <div class="list-media-holder">
              <a ng-href="#/video/{{video.snippet.resourceId.videoId}}"><img ng-src="{{video.snippet.thumbnails.medium.url}}"></a>
            </div>
          </div>
          <div class="list-item-copy text-left">
            <p class="ellipsis margin-zero text-primary"><a
                class="text-primary"
                ng-href="#/video/{{video.snippet.resourceId.videoId}}">{{video.snippet
              .title}}</a></p>

            <p class="summary ellipsis margin-zero">{{video.snippet.description}}</p>
            <span class="list-item-date">{{video.snippet.publishedAt | date:'medium'}}</span>
          </div>
        </div>
        <!--Need to replace this loader url with BuildFire generic loader or spinner-->
        <div class="text-center">
          <img src="http://www.coxandkingsusa.com/resources/images/loading.gif"
               ng-show="WidgetFeed.showSpinner">
        </div>
      </div>
    </div>
  </div>
</div>