<div background-image="{{WidgetFeed.data.design.itemListBgImage}}"
     class="holder padding-zero">
  <div class="media-center-plugin layout3" id="scroll-infinite">
    <div class="plugin-banner clearfix">
      <div id="carousel" build-fire-carousel=""></div>
    </div>
    <div
        ng-if="WidgetFeed.showDescription(WidgetFeed.data.content.description)" class="padded text-left">
      <p class="margin-bottom-zero break-word"
         ng-bind-html='WidgetFeed.safeHtml(WidgetFeed.data.content.description)'></p>
    </div>
    <div  ng-if="WidgetFeed.data" infinite-scroll="WidgetFeed.loadMore()"
          infinite-scroll-distance="1"
          data-infinite-container=".infinite-scroll-parent"
          infinite-scroll-disabled="WidgetFeed.busy">
      <div ng-repeat="video in WidgetFeed.videos" trigger-ng-repeat-render>
        <div class="plugin-banner clearfix">
          <div class="plugin-slide text-center">
            <iframe id="player" width="100%" height="192"
                    ng-src="{{video.snippet.resourceId.videoId | returnYoutubeUrl}}"
                    frameborder="0"></iframe>
          </div>
        </div>
        <div class="padded text-left">
          <a class="text-primary"
             href="javascript:void(0)"
             ng-click="WidgetFeed.openDetailsPage(video)">{{video.snippet.title}}</a>

          <p class="margin-bottom-zero break-word" style="max-width: 300px"
              >{{video.snippet.description |
            limitTo:200}}{{(video.snippet.description.length >200) && "..." ||
            ""}}</p>
          <i><span class="list-item-date">{{video.snippet.publishedAt | date}}</span></i>
        </div>
      </div>
    </div>
  </div>
</div>
