<div class="media-center-plugin layout2" id="scroll-infinite">
  <div class="media-center-banner clearfix">
    <div id="carousel" ng-if="WidgetFeed.data.content.carouselImages.length > 0" ng-style="WidgetFeed.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"
      build-fire-carousel=""></div>
  </div>
  <div class="text-left padded padding-bottom-zero clearfix" ng-if="WidgetFeed.showDescription(WidgetFeed.data.content.description)">
    <p class="break-word" ng-bind-html='WidgetFeed.safeHtml(WidgetFeed.data.content.description)'></p>
  </div>
  <div>
    <div class="list-layout" ng-if="WidgetFeed.data" infinite-scroll="WidgetFeed.loadMore()" infinite-scroll-distance="1"
      data-infinite-container=".infinite-scroll-parent" infinite-scroll-disabled="WidgetFeed.busy">
      <div class="list-item" ng-click="WidgetFeed.openDetailsPage(video)" ng-repeat="video in WidgetFeed.videos"
        ng-class="{'viewed': video.viewed}" trigger-ng-repeat-render>

        <div class="list-media-holder pull-left">
          <div class="li-actions">
            <i class="share glyphicon glyphicon-share-alt" ng-click="WidgetFeed.share($event, video)" role="button"></i>
          </div>
          <a href="javascript:void(0)" ng-click="WidgetFeed.openDetailsPage(video)">
            <img load-image="16x9" data-final-src="{{video.snippet.thumbnails.medium.url | getImageUrl:220:120}}">
          </a>
        </div>

        <div ng-style="{ 'min-width': deviceWidth - 128}">

          <div class="list-item-copy ellipsis">
            <p class="ellipsis margin-zero text-primary">
              <a class="text-primary" href="javascript:void(0)">{{video.snippet.title}}</a>
            </p>
          </div>

          <div class="info-group">

            <span class="list-item-date">{{video.snippet.publishedAt | date}}</span>

            <div class="li-actions">
              <div>
                <i class="bookmark" ng-class="{ 'glyphicon-star-empty' : !video.bookmarked, 'glyphicon-star' : video.bookmarked }" ng-click="WidgetFeed.bookmark($event, video)" role="button"></i>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>