<div class="media-center-plugin layout3" id="scroll-infinite">
  <div class="media-center-banner clearfix">
    <div id="carousel" ng-style="WidgetFeed.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"
      build-fire-carousel=""></div>
  </div>
  <div class="text-left padded padding-bottom-zero clearfix" ng-if="WidgetFeed.showDescription(WidgetFeed.data.content.description)">
    <p class="break-word" ng-bind-html='WidgetFeed.safeHtml(WidgetFeed.data.content.description)'></p>
  </div>
  <div>
    <div class="list-layout" ng-if="WidgetFeed.data" infinite-scroll="WidgetFeed.loadMore()" infinite-scroll-distance="1"
      data-infinite-container=".infinite-scroll-parent" infinite-scroll-disabled="WidgetFeed.busy">
      <div class="list-item" ng-repeat="video in WidgetFeed.videos" ng-class="{'viewed': video.viewed}" trigger-ng-repeat-render>
        <div class="list-item-media text-left overflow-hidden">
          <div class="list-media-holder pull-left">
            <a href="javascript:void(0)" ng-click="WidgetFeed.openDetailsPage(video)">
              <img load-image="16x9" data-final-src="{{video.snippet.thumbnails.medium.url | getImageUrl:220:120}}"></a>
          </div>
          <div class="list-item-copy text-left padding-left-ten padding-right-ten">
            <p class="ellipsis margin-zero text-primary"><a class="text-primary" href="javascript:void(0)" ng-click="WidgetFeed.openDetailsPage(video)">{{video.snippet.title}}</a>
            </p>

            <p class="summary ellipsis margin-zero" style="max-width: 240px">
              {{video.snippet.description}}</p>
            <span class="list-item-date">{{video.snippet.publishedAt | date}}
            </span>
            <div class="li-actions">
              <a class="bookmark unmarked" role="button"><i class="bookmark-icon"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>