<div class="media-center-plugin layout1" id="scroll-infinite">
  <div class="media-center-banner clearfix">
    {{WidgetHome.data}}
    <div ng-style="WidgetFeed.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}" id="carousel" build-fire-carousel=""></div>
  </div>
  <div class="text-left padded padding-bottom-zero clearfix">
    <p class="break-word" ng-bind-html='WidgetFeed.safeHtml(WidgetFeed.data.content.description)' ng-if="WidgetFeed.showDescription(WidgetFeed.data.content.description)"></p>
  </div>
  <div class="padded padding-top-zero" ng-if="WidgetFeed.data">
    <div class="list-layout" infinite-scroll="WidgetFeed.loadMore()" infinite-scroll-distance="1" data-infinite-container=".infinite-scroll-parent" infinite-scroll-disabled="WidgetFeed.busy">
      <div class="list-item col-xs-6 pull-left video-box" ng-repeat="video in WidgetFeed.videos" ng-class="{'viewed': video.viewed}" trigger-ng-repeat-render>
        <div class="list-item-media text-center overflow-hidden">
          <div class="list-media-holder">
            <div class="li-actions">
              <a class="bookmark" ng-class="{'unmarked' : !video.bookmarked}" ng-click="WidgetFeed.bookmark(video)" role="button">
				        <i class="bookmark-icon"></i>
				      </a>
            </div>
            <a href="javascript:void(0)" ng-click="WidgetFeed.openDetailsPage(video)"><img load-image="16x9" data-final-src="{{video.snippet.thumbnails.medium.url | getImageUrl:160:90}}"></a>
          </div>
        </div>
        <div class="list-item-copy text-left">
          <p class="ellipsis margin-zero text-primary">
            <a class="text-primary" href="javascript:void(0)" ng-click="WidgetFeed.openDetailsPage(video)">{{video.snippet.title}}</a>
          </p>
          <p class="summary ellipsis margin-zero" style="max-width: 240px">{{video.snippet.description}}</p>
          <span class="list-item-date">{{video.snippet.publishedAt | date}}</span>
        </div>
      </div>
    </div>
  </div>
</div>