<div background-image="{{WidgetFeed.data.design.itemListBgImage}}" class="holder padding-zero">
  <div class="media-center-plugin layout1" id="scroll-infinite">
    <div class="media-center-banner clearfix">
      <div id="carousel" build-fire-carousel=""></div>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix">
      <p
          ng-bind-html='WidgetFeed.safeHtml(WidgetFeed.data.content.description)' ng-if="WidgetFeed.showDescription(WidgetFeed.data.content.description)"></p>
		</div>
		<div class="padded padding-top-zero" ng-if="WidgetFeed.data">
			<div class="list-layout"
           infinite-scroll="WidgetFeed.loadMore()"
           infinite-scroll-distance="1"
           infinite-scroll-disabled="WidgetFeed.busy">
        <div class="list-item col-xs-6 pull-left video-box"
             ng-repeat="video in WidgetFeed.videos" trigger-ng-repeat-render>
          <div class="list-item-media text-center border-radius-three overflow-hidden">
            <div class="list-media-holder">
              <a href="javascript:void(0)"
                 ng-click="WidgetFeed.openDetailsPage(video)"><img
                  ng-src="{{video.snippet.thumbnails.medium.url | getImageUrl:240:160}}"></a>
            </div>
          </div>
          <div class="list-item-copy text-left">
            <p
                class="ellipsis margin-zero text-primary"><a class="text-primary"
                                                 href="javascript:void(0)"
                                                ng-click="WidgetFeed.openDetailsPage(video)">{{video.snippet.title}}</a></p>
            <p class="summary ellipsis margin-zero">{{video.snippet.description}}</p>
            <span class="list-item-date">{{video.snippet.publishedAt | date}}</span>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>